{% extends 'base.html.twig' %}

{% block title %}Confirmar Pedido{% endblock %}

{% block body %}
    <div class="container container-confirmar">
        <h1>Confirmar Pedido</h1>

        <form method="post" action="{{ path('carrito_confirmar') }}">
            {{ form_start(form) }}
            <div class="col-md-12 mb-lg-0 mb-4">

            </div>


            <div class="col-md-12 mb-lg-0 mb-4">
                <div class="card mt-4">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h6 class="mb-0 input-campoceuta-header">Método de pago</h6>
                            </div>
                            <div class="col-6 text-end">
                                <a class="btn bg-gradient-dark mb-0" href="#"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Añadir nueva tarjeta</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-4">
                                <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                                    <img class="w-10 me-3 mb-0" src="../assets/img/logos/mastercard.png" alt="logo">
                                    <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;7852</h6>
                                    <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" aria-label="Editar tarjeta" data-bs-original-title="Editar tarjeta"></i><span class="sr-only">Editar tarjeta</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                                    <img class="w-10 me-3 mb-0" src="../assets/img/logos/visa.png" alt="logo">
                                    <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;5248</h6>
                                    <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" aria-label="Editar tarjeta" data-bs-original-title="Editar tarjeta"></i><span class="sr-only">Editar tarjeta</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card mt-4" style="padding: 10px">
                        <div class="card-body p-3">
                            <div class="row">
                                {{ form_label(form.dirEntrega, 'Dirección de entrega', {'label_attr': {'class': 'form-label input-campoceuta-header'}}) }}
                                {{ form_widget(form.dirEntrega, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.dirEntrega) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn bg-gradient-success" style="margin-top: 10px;">Confirmar y pagar</button>
            </div>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
